@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Chathura|Indie+Flower|Lobster|PT+Sans|Sansita');

/* 
    Chathura -- Dezent, Schlicht, Elegant
    Amatic SC --- very tumblr, handschrift
    lobster --- kursiv
    Indie Flower --- handschrift, hobby-mässig --> unprofessionell
    PT Sans --- straight, computer-typed, professionell
    Sansita --- eindrucksvoll, Titel

    Anwendung:
	p {
   		 font-family: 'FONTNAME', sans-serif;   
	}


    Kleiner Bildschirm / Grosser Bildschirm 
    @media screen and (min-width: 768px) {
    
}

*/
p, h2, h3 {
    font-family: 'PT Sans', sans-serif;
}

#list a {
    display: block;
    padding: 3px 0;
   
    height: 100%;

}
#list h2 {
    padding: 0;
    margin: 0;
    border: 0;
}

.flex {
    display: flex;
    
}

 #content {
    height: 100%;
}

 #aside {
    background-color: #4b84a0;
    height: 100%;
    width: 40% ;
    flex-direction: column;
}

#aside a{
    text-decoration: none;
        color: #bfeaff;
}



 #mainflex {
    height: 100%;

}
#aside li {
    list-style-type: none;
}

#aside ul {
    margin: 0;
}

#stuff {
    flex-direction: column;
    padding: 0 !important;
    
    
}


html, body {
    height: 100%;
}

#mainflex div,#mainflex footer {
    padding: 1%;
}

aside{
    width: 28.5%;
}

#discussion, body {background-color: rgb(150, 220, 255)}
#gallery {background-color: rgb(94, 198, 249)}
#about {background-color: rgb(39, 178, 247)}
footer {background-color: rgb(0, 170, 255)}


ul {
    margin-left: 0;
    padding-left: 0;
    
}

#aside h2 {
    padding: 3%;
    margin: 0;
}


li:hover {
    background-color: #24427a;
}

 div {
    margin-left: 0 !important;
}


#socialmedia  {
    text-align: center;
    font-size: 250%;
}


#aside i{
    flex-direction: column;
    flex-wrap: wrap; 
}

#spacer {
    flex-grow: 6;
    
}
#copyright {
    text-align: center;
    font-family: 'Amatic SC', sans-serif !important;
    font-size: 160%;
    margin-top: 0;
    padding-top: 0;
    }



h4 {
    margin-top: 0;
    margin-bottom: 3%;
}

#stuff div{
    flex-grow: 3;
}

#form1 {
    font-family: 'PT Sans', sans-serif;
    padding: 10% 20%;
    margin: 13%;
    margin-top: 0;
    margin-left: 0;
}

#form1 input {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 0;
    margin-right: 6%;

    
}
.column {
    flex-direction: column;
}

#interrobang {
    height: 80%;
    padding: 2%;
    margin-top: 0;
}


#form1 [name="message"]
{
    width: 120%;
    height: 30%;
    margin-left: 0;
    text-align: center;
}

#flexforbutton, #comments {
    flex-direction: column;
}

.buttoninhome {
    padding: 2% !important;
}

#flexforbutton .button {
    padding: 10%;
}
.button {
    padding: 4.5%;
    border-radius: 2.5px;
    box-shadow: none;
    background-color: #4B84A0;
    border: none;
    color: #bfeaff;

}

.button:hover, .button:focus,.button2:hover, .button2:focus {
    background-color: #bfeaff;
    color: #4B84A0;
    cursor:pointer;
}

.comment {
    background-color: white;
    border-radius: 3px;
    width: 95%;
    margin-bottom: 3%;
}

.button2 {
    padding: 2%;
    border-radius: 2.5px;
    box-shadow: none;
    background-color: #4B84A0;
    border: none;
    color: #bfeaff;

}

.width100 {
    width: 100%;
}

#pollcontainer {
    
    height: 70%;
    border-radius: 4px;
    
    
}



#pollcontainer form {
    padding: 10% 30%;
    padding-left: 20%;
    margin: 0 4%;
    margin-left: 0;
    width: 60%;
}

#pollcontainer form .button {
    padding: 2% 10%;
    
}
#results {
     background-color: white;
    border-radius: 3px;
    width: 95%;
    margin-bottom: 3%;
   
}
@media screen and (max-width: 678px) {

 
  
}