@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#diagramm {
    border: 2px solid black;
    width: 100%;
    height: 30px;
    
}

#balken {
    background-color: red;
    height: 100%;
    
}

body {
    background-color: lightgoldenrodyellow;
    
    font-family: 'Roboto', sans-serif;

}

#calculator button{
    padding:2.1%;


}

#calculator  {
    text-align: center;
    margin: 10% auto;
}

#calculator input {
    padding: 2%;
}

#calculator p {
    font-size: 1.5rem;
}

#calc2 {
    text-align: center;
}

#result {
    font-size: 1.3rem;
}

#balken {
    text-align: left;
}